body {
    background-color: bisque;
}

p {
    text-align: center;
    line-height: 100%;
}

#title {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 100px;
    
    
}

#screen {
    margin: 0 auto;
    margin-top: 9px;
    height: 50px;
    width: 280px;
    text-align: center;
    border-radius: 15px;
    border: 1px solid black;
    line-height: 80%;
    background-color: lightblue;
}

#erlik{
    background-color: orange;

}

#output {
    padding-left: 60%;



}
.boks{
    width: 60px; 
    height: 60px;
    border-radius: 15px;
    border: 1px solid black;
    display: inline-table;
    margin-left: 8px;
    margin-top: 12px;
    background-color:lightslategray;


}

#operasjon{

}
#kalk {

    width: 300px;
    height: 440px;
    background-color: black;
    border: 3px solid orange;
    border-radius: 25px;
    margin: 0 auto;
    flex-wrap: wrap;
}

